.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
}
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(238,238,238,0.9);
  border-top: #dcdcdc 1px solid;
  z-index: 97;
  padding: 0px;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
}
nav ul{
  width: 100%;
  height: 90px;
  margin: auto;
  padding: 0px;
  margin: 0px;
}
 nav ul li {
  width: 20%;
  height: 90px;
  float: left;
  text-align: center;
  margin: 0px;
}
nav ul li a {
  text-align: center;
  font-size: 24px;
  color: #333;
  width: 90px;
  display: block;
  height: 90px;
  position: relative;
  margin: auto;
}
nav ul li i {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  background-position: 0 -2px;
}
nav ul li span {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

