body {
  margin: 0px;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 180%;
  color: #000000;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
